In [1]:
import pandas as pd

In [2]:
final_df = pd.read_csv(r"C:\Users\raman\Desktop\Courses\Google_DA\Capstone\cleaned_datasets\full_year_combined.csv")

In [3]:
final_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,day_of_week
0,6F1682AC40EB6F71,electric_bike,2023-06-05 13:34:12,2023-06-05 14:31:56,Not Available,Not Available,Not Available,Not Available,41.91,-87.69,41.91,-87.70,member,00:57:44,1
1,622A1686D64948EB,electric_bike,2023-06-05 01:30:22,2023-06-05 01:33:06,Not Available,Not Available,Not Available,Not Available,41.94,-87.65,41.94,-87.65,member,00:02:44,1
2,3C88859D926253B4,electric_bike,2023-06-20 18:15:49,2023-06-20 18:32:05,Not Available,Not Available,Not Available,Not Available,41.95,-87.68,41.92,-87.63,member,00:16:16,2
3,EAD8A5E0259DEC88,electric_bike,2023-06-19 14:56:00,2023-06-19 15:00:35,Not Available,Not Available,Not Available,Not Available,41.99,-87.65,41.98,-87.66,member,00:04:35,1
4,5A36F21930D6A55C,electric_bike,2023-06-19 15:03:34,2023-06-19 15:07:16,Not Available,Not Available,Not Available,Not Available,41.98,-87.66,41.99,-87.65,member,00:03:42,1

In [4]:
final_df.shape

(5735153, 15)

In [5]:
final_df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
ride_length            object
day_of_week             int64
dtype: object

In [7]:
final_df['ride_length'] = pd.to_timedelta(final_df['ride_length'])

In [9]:
final_df.groupby('day_of_week')['ride_length'].mean()

day_of_week
1   0 days 00:14:42.525647498
2   0 days 00:13:51.875837906
3   0 days 00:13:40.950754349
4   0 days 00:13:39.316371214
5   0 days 00:15:11.840854483
6   0 days 00:18:32.901706240
7   0 days 00:18:38.147492310
Name: ride_length, dtype: timedelta64[ns]

In [11]:
print(f"Mean ride length: {final_df['ride_length'].mean()}")

Mean ride length: 0 days 00:15:28.364338667